.header__logo{
    width: 142px;
    height: 33px;
    background-image: url(../../../images/header-logo.svg);
    background-position: center;
    background-size: cover;
}
@media screen and (max-width: 450px){
    .header__logo{
        width: 103.74px;
        height: 24.4px;
    }
}
