.profile__name{
    max-width: 294px;
    width: 100%;
    text-align: start;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 680px){
    .profile__name{
        max-width: 189px;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        margin: 0 0 0 46px;
    }
}
